#whateverthefuckyoufuckingwant {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
body {
    background-color: #ffffff;
    font-family: sans-serif;
    color: #000000;
}
#mainflex {
    position: relative;
    display: flex;
    flex-direction: row;
}
#sidebar {
    border: black 1px solid;
    width: 300px;
    background-color: #ffffff;
}
#sidebar > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#sidebar > h1 {
    font-size: medium;
    text-align: center;
}
#mainpage {
    border: black 1px solid;
    padding: 16px;
    background-color: #ffffff;
    position: relative;
    width: 100%;
    font-size: 11pt;
    line-height: 1.2;
}
#introduction > h1 {
    font-family: 'Georgia', Times, serif;
    font-size: 32px;
    font-weight: normal;
    margin-bottom: 10px;
}
#introduction > h2 {
    font-size: 12px;
    font-weight: normal;
}
nav {
    width: 100%;
}
#searchbar {
    float: right;
}
header {
    display: flex;
    flex-direction: row;
    height: 128px;
    width: 100%;
    background-image: linear-gradient(to left, rgb(168, 20, 32, 0), rgb(168, 20, 32, 1)400px, rgb(168, 20, 32, 1)), url(../images/banner.png);
    background-size: auto;
    background-position: 100%;
}
#contents {
    background-color: #DDDDDD;
    width: 200px;
    margin-left: 50px;
    border: 1px #444444 solid;
}
#contents > h2 {
    font-size: 11pt;
    text-align: center;
}
footer {
    background-color: #FFFFFF;
}
footer > p {
    text-align: center;
}